<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot" default="solo"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="pause" default="true"/>

  <!-- Start an empty gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg pause)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load URDF -->
  <include file="$(find solo_description)/launch/solo_upload.launch"/>

  <!-- Spawn the robot model -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" respawn="false" output="screen"
     args="-urdf -model $(arg robot) -param robot_description
     -x 0.0 -y 0.0 -z 0.335 -R 0.0 -P 0.0 -Y 0.0
     -J FL_HAA 0.0 -J FL_HFE 0.0 -J FL_KFE 0.0
     -J FR_HAA 0.0 -J FR_HFE 0.0 -J FR_KFE 0.0
     -J HL_HAA 0.0 -J HL_HFE 0.0 -J HL_KFE 0.0
     -J HR_HAA 0.0 -J HR_HFE 0.0 -J HR_KFE 0.0"/>

     <!-- Below: Squatting Pose -->
     <!-- -x 0.0 -y 0.0 -z 0.5 -R 0.0 -P 0.0 -Y 0.0
     -J FL_HAA 0.0 -J FL_HFE 0.63 -J FL_KFE -1.25
     -J FR_HAA 0.0 -J FR_HFE 0.63 -J FR_KFE -1.25
     -J HL_HAA 0.0 -J HL_HFE 0.63 -J HL_KFE -1.25
     -J HR_HAA 0.0 -J HR_HFE 0.63 -J HR_KFE -1.25"/> -->

  <!-- Load parameters for controllers -->
  <rosparam file="$(find solo_gazebo)/config/solo_controller_gazebo.yaml" command="load"/>

  <!-- Spawn controllers -->
  <node pkg="controller_manager" type="spawner" name="spawner" respawn="false" output="screen" args="solo_controller"/>
</launch>
