<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Gazebo ROS Control Plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!-- <robotNamespace>/solo</robotNamespace> -->
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <controlPeriod>0.001</controlPeriod>
      <!-- <legacyMode>false</legacyMode>   --> <!-- TODO(JaehyunShim): Check what this is -->
    </plugin>
  </gazebo>

  <!-- Gazebo ROS IMU Plugin -->
  <gazebo>
    <plugin name="gazebo_ros_imu" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_link</bodyName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>  <!-- For what..? -->
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>1000</updateRate>
    </plugin>
  </gazebo>
</robot>
